nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #17191C;
    height: 15vh;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.navlink{
    text-decoration: none;
    color: white !important;
    font-family: Roboto;
    font-weight: bold;
    letter-spacing: 2px !important;
    padding: 0.5vw;
}

.navlink:hover{
    background-color: rgb(232, 83, 83, 1 ) !important;
    border-radius: 10px 10px 10px 10px;
}

.icon{
    height: 10vh;
    margin-left: 4vw;
}

@media screen and (max-width: 1024px){
    .nav{
        margin-left: 0em;
        height: 10vh;
    }

    .navlink{
        font-size: 13px!important;
        letter-spacing: 1px !important;
    }

    .icon{
        height: 8vh;
        margin-left: 2vw;
    }
}

@media screen and (max-width: 890px){
    .nav{
        margin-left: 0em;
        height: 10vh;
    }

    .navlink{
        font-size: 10px!important;
        letter-spacing: 1px !important;
    }

    .icon{
        height: 6vh;
    }
}

@media screen and (max-width: 759px){
    .nav{
        height: 8vh;
        margin-left: 0;
        margin-right: 0;
        display: grid;
        grid-template-columns: 20% 60%;
    }

    .nav-links{
        display: none;
    }
    
    .icon{
        height: 7vh;
        margin-left: 0;
    }
}