.toggle-button{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 24px;
    width: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
    display: none;
    margin-top: 3px;
}

.toggle-button:focus{
    outline: none;
}

.toggler-button_line{
    width: 25px;
    height: 4px;
    background-color: rgb(226, 226, 226);
    margin: 2px;
}

@media screen and (max-width: 700px){
    .toggle-button{
        display: block;
        width: 100%;
        margin-left: 2vw;
    }


    
}