.side-drawer{
    height: 100%;
    background-color: white;
    box-shadow: 2px 0 5px rgba(0,0,0,0-5);
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    max-width: 300px;
    z-index: 200;
    flex-flow: wrap;
    background-color: #4fa0cb;
}

.sideD-links{
    height: 100%;
    display: flex!important;
    flex-direction: column!important;
    justify-content: center!important;
}

.sdlink{
    color: white!important;
    margin: 0.5rem 0!important;
    font-size: 1.0rem !important;
    margin-top: 10px!important;
}

.sdlink:hover{
    background-color: rgb(232, 83, 83, 1 ) !important;
}